.question-form {
  background-color: #f4f4f9;
  height: 100%;
  padding-bottom: 30px;
}

.section {
  margin: auto;
  width: 90%;
}

.question-row{
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.question-card {
  margin-top: 15px;
  width: -webkit-fill-available;
}

.add-border{
  border-left: 6px solid #4285f4;
}

.section-accordion{
  display: flex;
  flex-direction: column;
}

.section-header{
  display: flex;
  justify-items: flex-start;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
}

.add-question-icon:hover{
  cursor:pointer;
}

.add-section-icon{
  margin-top: 10px;
}

.add-section-icon:hover{
  cursor:pointer;
}

.question-form-top {
  background-color: white;
  border-top: 8px solid rgb(103, 58, 183);
  border-radius: 8px;
  padding: 30px 25px;
}

.question-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.add-question {
  background-color: white;
  border-radius: 8px;
  padding: 25px 22px;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  width: 93%;
  margin-left: 10px;
}

.add-question-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.question {
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 15px;
  flex: 1;
  line-height: 40px;
  width: 40%;
  border: none;
  outline: none;
  color: black;
  margin-right: 10px;
}

.question:focus {
  border-bottom: 1px solid rgb(103, 58, 183);
  background-color: #f4f4f9;
}

.select {
  height: 40px;
  width: 230px;
  border: 1.5px solid #f4f4f9;
  padding: 5px 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.add-question-body {
  display: flex;
  align-items: center;
}

.add-question-footer{
  display: flex;
  justify-content: end;
}

.question-edit{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 1px;
  border-radius: 3px;
  width: 35px;
  align-items: center;
}

.edit{
  color: #5f6368;
  padding: 8px 5px;
}

.text-input{
    outline:none;
    border:none;
    height:40px;
    width:490px;
    color:#202124;
    letter-spacing: .2px;
    font-size: 13px;
}

.text-input:focus{
    border-bottom: 1.5px solid rgb(103,58,183)
}

.question-form-top-name {
  box-sizing: border-box;
  border: none;
  font-family: "Google Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 35px;
}

.question-form-top-desc {
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 20px;
}

.option-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #202124;
}
